// common colors
$green: #039c00b2;
$black: #000000d9; //rgba(0, 0, 0, 0.85)
$thinblack: #000000b2; //rgba(0, 0, 0, 0.70);
$blue: #0075ff;
$white: #fff;
$grey: #00000080;
$textShadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

// common font sizes
$fontSize1: 48px;
$fontSize2: 40px;
$fontSize3: 24px;
$fontSize4: 20px;
$fontSize5: 16px;
$fontSize6: 14px;
$fontSize7: 12px;

// responsive font sizes
@mixin calcFontSizes($fontVariant) {
  // fontSize1
  @if $fontVariant == "fontSize1" {
    font-size: $fontSize1;
    line-height: 64px;
    @media only screen and (max-width: 768px) {
      font-size: 40px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 32px;
      line-height: 50px;
    }
    // fontSize2
  } @else if $fontVariant == "fontSize2" {
    font-size: $fontSize2;
    @media only screen and (max-width: 768px) {
      font-size: 32px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 28px;
    }
    // fontSize3
  } @else if $fontVariant == "fontSize3" {
    font-size: $fontSize3;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 18px;
    }
    // fontSize4
  } @else if $fontVariant == "fontSize4" {
    font-size: $fontSize4;
    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }
    // fontSize5
  } @else if $fontVariant == "fontSize5" {
    font-size: $fontSize5;
    @media only screen and (max-width: 600px) {
      font-size: 14px;
    }
  } @else if $fontVariant == "fontSize6" {
    font-size: $fontSize6;
  } @else if $fontVariant == "fontSize7" {
    font-size: $fontSize7;
  } @else {
    font-size: $fontSize7;
  }
}

@mixin IconWrapper($size, $bgColor: transparent) {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px;
  border-radius: 92px;
  background-color: $bgColor;
}

@mixin linellipsis($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin Section($bgColor: transparent) {
  margin-top: 60px;
  padding: 40px;
  border-radius: 24px;
  background: $bgColor;
  @media only screen and (max-width: 600px) {
    padding: 24px;
  }
}

@font-face {
  font-family: "inter_extra_bold"; // 800
  src: url("../assests/fonts/Inter/static/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "inter_bold"; // 700
  src: url("../assests/fonts/Inter/static/Inter-Bold.ttf");
}
@font-face {
  font-family: "inter_semi_bold"; // 600
  src: url("../assests/fonts/Inter/static/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "inter_medium"; // 500
  src: url("../assests/fonts/Inter/static/Inter-Medium.ttf");
}
@font-face {
  font-family: "inter_regular"; // 400
  src: url("../assests/fonts/Inter/static/Inter-Regular.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 32px;
  background: $white;
  overflow-x: hidden;
  .heading {
    font-family: "inter_extra_bold";
    @include calcFontSizes("fontSize2");
    line-height: 48px;
    color: $black;
    margin-bottom: 16px;
    text-align: center;
  }
  .sub-heading {
    color: $thinblack;
    font-family: "inter_regular";
    line-height: 24px;
    text-align: center;
    @include calcFontSizes("fontSize4");
    span {
      font-family: "inter_semi_bold";
    }
  }
  .join-now-btn {
    @include calcFontSizes("fontSize4");
    color: $white;
    font-family: "inter_semi_bold";
    padding: 16px 32px;
    border-radius: 16px;
    background: $blue;
  }
  .header {
    gap: 12px;
    .logo {
      flex: 1;
      gap: 12px;
      h4 {
        margin-bottom: 0px;
        font-family: "inter_semi_bold";
        color: $blue;
      }
    }
    .signInBtn {
      font-family: "inter_medium";
      color: $blue;
      border: 0;
      &:active,
      :focus {
        color: $blue;
      }
    }
    .join-now-btn {
      padding: 12px 16px;
      @include calcFontSizes("fontSize5");
      font-family: "inter_medium"; 
      border-radius: 8px;
      display: none;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .header-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    padding: 16px 32px;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.35s ease-out;
    .join-now-btn {
      display: block;
    }
    @media only screen and (max-width: 425px) {
      flex-direction: column;
    }
  }

  .banner {
    margin-top: 20px;
    padding: 56px;
    padding-bottom: 0;
    border-radius: 16px;
    background: #e9f3ff;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
      padding: 24px;
      padding-bottom: 0;
    }
    .banner-wrapper {
      max-width: 900px;
      margin: auto;
      .title-highlight {
        color: $green;
        font-family: "inter_bold";
        text-transform: uppercase;
        text-align: center;
        line-height: 24px;
        @include calcFontSizes("fontSize5");
      }
      .title {
        @include calcFontSizes("fontSize1");
        color: $black;
        font-family: "inter_extra_bold";
        margin-bottom: 24px;
        text-align: center;
      }
      .sub-title {
        color: $thinblack;
        font-family: "inter_regular";
        margin-bottom: 32px;
        text-align: center;
        line-height: 24px;
        @include calcFontSizes("fontSize4");
      }
      img {
        padding-bottom: 1px;
      }
    }
    .img-overlay {
      background: linear-gradient(
        180deg,
        rgba(208, 229, 255, 0) 0%,
        rgba(208, 229, 255, 0.25) 43.09%,
        rgba(208, 229, 255, 0.5) 66.58%,
        #d0e5ff 97.69%
      );
      position: absolute;
      height: 35%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .courses {
    margin-top: 60px;
    margin-bottom: 80px;
    .course-wrapper {
      margin-top: 20px;
      position: relative;
      .owl-carousel {
        display: flex;
        justify-content: center;
        .owl-stage {
          .owl-item {
            &:last-child {
              margin-right: 0 !important;
            }
          }
        }
        .owl-dots {
          position: absolute;
          bottom: -50px;
          .active span {
            width: 20px;
          }
        }
      }
      .course {
        border-radius: 16px;
        height: 400px;
        width: 314px;
        position: relative;
        overflow: hidden;
        .img-overlay {
          cursor: pointer;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 47.5%,
            rgba(0, 0, 0, 0.63) 100%
          );
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          &:hover + .course-details {
            transform: translateY(0px);
          }
        }
        .course-details {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          transform: translateY(60px);
          padding: 20px;
          transition: 0.5s all ease-in-out;
          &:hover {
            transform: translateY(0px);
          }
          .h6 {
            margin-bottom: 0;
          }
          .category {
            @include calcFontSizes("fontSize6");
            color: $white;
            text-shadow: $textShadow;
            line-height: 20px;
            text-transform: uppercase;
            font-family: "inter_semi_bold";
          }
          .course-name {
            margin-block: 8px;
            text-shadow: $textShadow;
            @include calcFontSizes("fontSize4");
            @include linellipsis();
            line-height: 24px;
            font-family: "inter_bold";
            color: $white;
          }
          .description {
            @include calcFontSizes("fontSize6");
            @include linellipsis();
            text-shadow: $textShadow;
            color: $white;
            line-height: 18px;
            font-family: "inter_regular";
          }
          .arrow-right-icon {
            margin-top: 20px;
          }
        }
        @media screen and (max-width: 425px) {
          width: 100%;
        }
        @media screen and (max-width: 400px) {
          .img-fluid {
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .navigation-btns {
        .arrow-btn {
          display: flex;
          cursor: pointer;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          cursor: pointer;
        }
        .prev-btn {
          left: -20px;
          display: none;
        }
        .next-btn {
          right: -20px;
          display: none;
        }
      }
    }
  }
  .workshop {
    @include Section(#f5f5f5);
    .workshop-achievements {
      margin-top: 40px;
      justify-content: center;
      position: relative;
      overflow: hidden;
      // .wave-icon {
      //   display: none;
      //   @media screen and (min-width: 1200px) {
      //     position: absolute;
      //     left: 18%;
      //     top: 10%;
      //     width: 70%;
      //     display: block;
      //   }
      // }
      .achievement-wrapper {
        padding: 16px;
        z-index: 1;
      }
      .achievement {
        max-width: 373px;
        margin: auto;
        .icon-wrapper {
          @include IconWrapper(100px);
          margin-bottom: 18px;
        }
        .primary-text {
          font-family: "inter_semi_bold";
          @include calcFontSizes("fontSize3");
          line-height: 32px;
          text-align: center;
          color: $black;
          margin-bottom: 12px;
        }
        .secondary-text {
          text-align: center;
          line-height: 24px;
          @include calcFontSizes("fontSize5");
          font-family: "inter_regular";
          color: $thinblack;
        }
      }
    }
  }
  .get-started {
    @include Section();
    @media only screen and (max-width: 768px) {
      padding: 0px;
    }
    .steps-wrapper {
      margin-top: 40px;
      justify-content: center;
      .step-wrapper {
        padding: 11px;
        display: flex;
        @media only screen and (min-width: 1200px) {
          width: 19.666667%;
        }
        .step {
          padding: 24px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 32px;
          flex: 1;
          .text {
            font-family: "inter_bold";
            line-height: 16px;
            @include calcFontSizes("fontSize7");
            text-align: center;
            margin-bottom: 12px;
            color: $grey;
          }
          .title {
            font-family: "inter_semi_bold";
            line-height: 24px;
            @include calcFontSizes("fontSize4");
            color: $black;
            text-align: center;
            margin-bottom: 0;
          }
          .icon-wrapper {
            @include IconWrapper(80px);
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  .footer {
    margin-top: 60px;
    border-radius: 24px;
    border: 1px solid #d0e5ff;
    background-color: rgba(208, 229, 255, 0.5);
    .footer-section-1 {
      padding: 40px;
      padding-bottom: 24px;
      position: relative;
      @media only screen and (max-width: 600px) {
        padding: 24px;
      }
      .heading {
        @include calcFontSizes("fontSize1");
        span {
          color: $blue;
        }
      }
      .join-now-btn {
        margin-top: 32px;
      }
      .education-cap {
        position: absolute;
        right: 20px;
        top: 20px;
        @media only screen and (max-width: 1000px) {
          top: -30px;
          right: -30px;
          svg {
            width: 90px;
            height: 70px;
          }
        }
      }
      .certificate {
        position: absolute;
        left: 20px;
        bottom: 20px;
        @media only screen and (max-width: 480px) {
          display: none;
        }
      }
    }
    .footer-section-2 {
      padding: 40px;
      padding-top: 24px;
      @media only screen and (max-width: 600px) {
        padding: 24px;
      }
      .contact-details {
        color: #000;
        @include calcFontSizes("fontSize5");
        line-height: 24px;
        font-family: "inter_regular";
        margin-bottom: 0;
        @media only screen and (max-width: 420px) {
          span {
            &:nth-child(2) {
              opacity: 0;
            }
          }
        }
      }
      .terms-policy {
        gap: 5px;
        h6 {
          margin-bottom: 0;
          color: #00000080;
          @include calcFontSizes("fontSize5");
          line-height: 24px;
          font-family: "inter_medium";
          &:nth-child(odd) {
            cursor: pointer;
          }
        }
      }
    }
    hr {
      border-top: 2.7px solid #b4cfee;
      margin-block: 8px;
    }
  }
}
