@font-face {
  font-family: "inter_extra_bold";
  src: url("../assests/fonts/Inter/static/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "inter_bold";
  src: url("../assests/fonts/Inter/static/Inter-Bold.ttf");
}
@font-face {
  font-family: "inter_semi_bold";
  src: url("../assests/fonts/Inter/static/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "inter_medium";
  src: url("../assests/fonts/Inter/static/Inter-Medium.ttf");
}
@font-face {
  font-family: "inter_regular";
  src: url("../assests/fonts/Inter/static/Inter-Regular.ttf");
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 32px;
  background: #fff;
  overflow-x: hidden;
}
body .heading {
  font-family: "inter_extra_bold";
  font-size: 40px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.8509803922);
  margin-bottom: 16px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  body .heading {
    font-size: 32px;
  }
}
@media only screen and (max-width: 600px) {
  body .heading {
    font-size: 28px;
  }
}
body .sub-heading {
  color: rgba(0, 0, 0, 0.6980392157);
  font-family: "inter_regular";
  line-height: 24px;
  text-align: center;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  body .sub-heading {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  body .sub-heading {
    font-size: 16px;
  }
}
body .sub-heading span {
  font-family: "inter_semi_bold";
}
body .join-now-btn {
  font-size: 20px;
  color: #fff;
  font-family: "inter_semi_bold";
  padding: 16px 32px;
  border-radius: 16px;
  background: #0075ff;
}
@media only screen and (max-width: 768px) {
  body .join-now-btn {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  body .join-now-btn {
    font-size: 16px;
  }
}
body .header {
  gap: 12px;
}
body .header .logo {
  flex: 1;
  gap: 12px;
}
body .header .logo h4 {
  margin-bottom: 0px;
  font-family: "inter_semi_bold";
  color: #0075ff;
}
body .header .signInBtn {
  font-family: "inter_medium";
  color: #0075ff;
  border: 0;
}
body .header .signInBtn:active,
body .header .signInBtn :focus {
  color: #0075ff;
}
body .header .join-now-btn {
  padding: 12px 16px;
  font-size: 16px;
  font-family: "inter_medium";
  border-radius: 8px;
  display: none;
}
@media only screen and (max-width: 600px) {
  body .header .join-now-btn {
    font-size: 14px;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
body .header-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  padding: 16px 32px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.35s ease-out;
}
body .header-sticky .join-now-btn {
  display: block;
}
@media only screen and (max-width: 425px) {
  body .header-sticky {
    flex-direction: column;
  }
}
body .banner {
  margin-top: 20px;
  padding: 56px;
  padding-bottom: 0;
  border-radius: 16px;
  background: #e9f3ff;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  body .banner {
    padding: 24px;
    padding-bottom: 0;
  }
}
body .banner .banner-wrapper {
  max-width: 900px;
  margin: auto;
}
body .banner .banner-wrapper .title-highlight {
  color: rgba(3, 156, 0, 0.6980392157);
  font-family: "inter_bold";
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  body .banner .banner-wrapper .title-highlight {
    font-size: 14px;
  }
}
body .banner .banner-wrapper .title {
  font-size: 48px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.8509803922);
  font-family: "inter_extra_bold";
  margin-bottom: 24px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  body .banner .banner-wrapper .title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 600px) {
  body .banner .banner-wrapper .title {
    font-size: 32px;
    line-height: 50px;
  }
}
body .banner .banner-wrapper .sub-title {
  color: rgba(0, 0, 0, 0.6980392157);
  font-family: "inter_regular";
  margin-bottom: 32px;
  text-align: center;
  line-height: 24px;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  body .banner .banner-wrapper .sub-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  body .banner .banner-wrapper .sub-title {
    font-size: 16px;
  }
}
body .banner .banner-wrapper img {
  padding-bottom: 1px;
}
body .banner .img-overlay {
  background: linear-gradient(180deg, rgba(208, 229, 255, 0) 0%, rgba(208, 229, 255, 0.25) 43.09%, rgba(208, 229, 255, 0.5) 66.58%, #d0e5ff 97.69%);
  position: absolute;
  height: 35%;
  bottom: 0;
  left: 0;
  right: 0;
}
body .courses {
  margin-top: 60px;
  margin-bottom: 80px;
}
body .courses .course-wrapper {
  margin-top: 20px;
  position: relative;
}
body .courses .course-wrapper .owl-carousel {
  display: flex;
  justify-content: center;
}
body .courses .course-wrapper .owl-carousel .owl-stage .owl-item:last-child {
  margin-right: 0 !important;
}
body .courses .course-wrapper .owl-carousel .owl-dots {
  position: absolute;
  bottom: -50px;
}
body .courses .course-wrapper .owl-carousel .owl-dots .active span {
  width: 20px;
}
body .courses .course-wrapper .course {
  border-radius: 16px;
  height: 400px;
  width: 314px;
  position: relative;
  overflow: hidden;
}
body .courses .course-wrapper .course .img-overlay {
  cursor: pointer;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.5%, rgba(0, 0, 0, 0.63) 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
body .courses .course-wrapper .course .img-overlay:hover + .course-details {
  transform: translateY(0px);
}
body .courses .course-wrapper .course .course-details {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  transform: translateY(60px);
  padding: 20px;
  transition: 0.5s all ease-in-out;
}
body .courses .course-wrapper .course .course-details:hover {
  transform: translateY(0px);
}
body .courses .course-wrapper .course .course-details .h6 {
  margin-bottom: 0;
}
body .courses .course-wrapper .course .course-details .category {
  font-size: 14px;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  line-height: 20px;
  text-transform: uppercase;
  font-family: "inter_semi_bold";
}
body .courses .course-wrapper .course .course-details .course-name {
  margin-block: 8px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  font-family: "inter_bold";
  color: #fff;
}
@media only screen and (max-width: 768px) {
  body .courses .course-wrapper .course .course-details .course-name {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  body .courses .course-wrapper .course .course-details .course-name {
    font-size: 16px;
  }
}
body .courses .course-wrapper .course .course-details .description {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  line-height: 18px;
  font-family: "inter_regular";
}
body .courses .course-wrapper .course .course-details .arrow-right-icon {
  margin-top: 20px;
}
@media screen and (max-width: 425px) {
  body .courses .course-wrapper .course {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  body .courses .course-wrapper .course .img-fluid {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
body .courses .course-wrapper .navigation-btns .arrow-btn {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
body .courses .course-wrapper .navigation-btns .prev-btn {
  left: -20px;
  display: none;
}
body .courses .course-wrapper .navigation-btns .next-btn {
  right: -20px;
}
body .workshop {
  margin-top: 60px;
  padding: 40px;
  border-radius: 24px;
  background: #f5f5f5;
}
@media only screen and (max-width: 600px) {
  body .workshop {
    padding: 24px;
  }
}
body .workshop .workshop-achievements {
  margin-top: 40px;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
body .workshop .workshop-achievements .achievement-wrapper {
  padding: 16px;
  z-index: 1;
}
body .workshop .workshop-achievements .achievement {
  max-width: 373px;
  margin: auto;
}
body .workshop .workshop-achievements .achievement .icon-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px;
  border-radius: 92px;
  background-color: transparent;
  margin-bottom: 18px;
}
body .workshop .workshop-achievements .achievement .primary-text {
  font-family: "inter_semi_bold";
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8509803922);
  margin-bottom: 12px;
}
@media only screen and (max-width: 768px) {
  body .workshop .workshop-achievements .achievement .primary-text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  body .workshop .workshop-achievements .achievement .primary-text {
    font-size: 18px;
  }
}
body .workshop .workshop-achievements .achievement .secondary-text {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  font-family: "inter_regular";
  color: rgba(0, 0, 0, 0.6980392157);
}
@media only screen and (max-width: 600px) {
  body .workshop .workshop-achievements .achievement .secondary-text {
    font-size: 14px;
  }
}
body .get-started {
  margin-top: 60px;
  padding: 40px;
  border-radius: 24px;
  background: transparent;
}
@media only screen and (max-width: 600px) {
  body .get-started {
    padding: 24px;
  }
}
@media only screen and (max-width: 768px) {
  body .get-started {
    padding: 0px;
  }
}
body .get-started .steps-wrapper {
  margin-top: 40px;
  justify-content: center;
}
body .get-started .steps-wrapper .step-wrapper {
  padding: 11px;
  display: flex;
}
@media only screen and (min-width: 1200px) {
  body .get-started .steps-wrapper .step-wrapper {
    width: 19.666667%;
  }
}
body .get-started .steps-wrapper .step-wrapper .step {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  flex: 1;
}
body .get-started .steps-wrapper .step-wrapper .step .text {
  font-family: "inter_bold";
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.5019607843);
}
body .get-started .steps-wrapper .step-wrapper .step .title {
  font-family: "inter_semi_bold";
  line-height: 24px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8509803922);
  text-align: center;
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  body .get-started .steps-wrapper .step-wrapper .step .title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  body .get-started .steps-wrapper .step-wrapper .step .title {
    font-size: 16px;
  }
}
body .get-started .steps-wrapper .step-wrapper .step .icon-wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px;
  border-radius: 92px;
  background-color: transparent;
  margin-bottom: 16px;
}
body .footer {
  margin-top: 60px;
  border-radius: 24px;
  border: 1px solid #d0e5ff;
  background-color: rgba(208, 229, 255, 0.5);
}
body .footer .footer-section-1 {
  padding: 40px;
  padding-bottom: 24px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  body .footer .footer-section-1 {
    padding: 24px;
  }
}
body .footer .footer-section-1 .heading {
  font-size: 48px;
  line-height: 64px;
}
@media only screen and (max-width: 768px) {
  body .footer .footer-section-1 .heading {
    font-size: 40px;
  }
}
@media only screen and (max-width: 600px) {
  body .footer .footer-section-1 .heading {
    font-size: 32px;
    line-height: 50px;
  }
}
body .footer .footer-section-1 .heading span {
  color: #0075ff;
}
body .footer .footer-section-1 .join-now-btn {
  margin-top: 32px;
}
body .footer .footer-section-1 .education-cap {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media only screen and (max-width: 1000px) {
  body .footer .footer-section-1 .education-cap {
    top: -30px;
    right: -30px;
  }
  body .footer .footer-section-1 .education-cap svg {
    width: 90px;
    height: 70px;
  }
}
body .footer .footer-section-1 .certificate {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
@media only screen and (max-width: 480px) {
  body .footer .footer-section-1 .certificate {
    display: none;
  }
}
body .footer .footer-section-2 {
  padding: 40px;
  padding-top: 24px;
}
@media only screen and (max-width: 600px) {
  body .footer .footer-section-2 {
    padding: 24px;
  }
}
body .footer .footer-section-2 .contact-details {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: "inter_regular";
  margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
  body .footer .footer-section-2 .contact-details {
    font-size: 14px;
  }
}
@media only screen and (max-width: 425px) {
  body .footer .footer-section-2 .contact-details span:nth-child(2) {
    display: none;
  }
}
body .footer .footer-section-2 .terms-policy {
  gap: 5px;
}
body .footer .footer-section-2 .terms-policy h6 {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 16px;
  line-height: 24px;
  font-family: "inter_medium";
}
@media only screen and (max-width: 600px) {
  body .footer .footer-section-2 .terms-policy h6 {
    font-size: 14px;
  }
}
body .footer .footer-section-2 .terms-policy h6:nth-child(odd) {
  cursor: pointer;
}
body .footer hr {
  border-top: 2.7px solid #b4cfee;
  margin-block: 8px;
}/*# sourceMappingURL=index.css.map */